.link button{
    margin-top: 4.5px;
    margin-left: 7px;
}

.cardd{
    padding: 2%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 370px;
    padding-bottom: 44px;
    padding-top: 0px;
}

.MuiPaper-root.MuiCard-root.cardd.MuiPaper-elevation1.MuiPaper-rounded{
    margin-left: 3%;
}

.priceDetail {
    margin-bottom: 0;
    width: 100%;
    text-align: end;
    margin-right: 2%;
}