
.divCarrito{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.9%;
}

i{
    font-size: 22px;
    justify-self: flex-end;
    margin-left: 2%;
}

.filtro{
    height:45px;
    width: 500px;
    align-self: center;
    margin-left: -4.5%;
}

.btn-submit{
    height: 51px;
    color: white;
    background-color: rgb(37, 235, 37);
    font-weight: 600;
    border-radius: 7%;
    width: 85px;
}

.number{
    margin-left: 1%;
}
