
.divCarrito{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.9%;
}



.filtro{
    height:45px;
    width: 500px;
    align-self: center;
    margin-left: -4.5%;
}

.btn-submit{
    height: 51px;
    color: white;
    background-color: rgb(37, 235, 37);
    font-weight: 600;
    border-radius: 7%;
    width: 85px;
}

.cart{
    display: flex;
    justify-content: space-evenly;
    width: 80px;
    align-items: center;
}

.number {
    margin-left: -15%;
    background-color: lightgreen;
    border-radius: 70%;
    width: 20px;
    height: 25px;
}

