
.divCarrito{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.9%;
}

.filtro{
    height:50px;
    width: 500px;
    align-self: center;
    margin-left: -4.5%;
}

.btn-submit{
    height: 51px;
    color: white;
    background-color: #2ecc71;
    font-weight: 600;
    border-radius: 7%;
    width: 85px;
}

.btn-submit:hover{
    background-color: #13572f;
    transition: all 0.7s ease-in-out;
}

.cart{
    display: flex;
    justify-content: space-evenly;
    width: 80px;
    align-items: center;
}

.number {
    margin-top: 10%;
    margin-left: -13%;
    background-color: lightgreen;
    border-radius: 70%;
    width: 20px;
    height: 26px;
    font-size: 25px;
    text-align: center;
}

.cart:hover {
    color: rgb(85, 83, 83);
    transition: 0.5s all ;
}


@media only screen and (max-width:"800px") {
    .divCarrito{
        align-items: center;
        justify-content: flex-start;
        margin-top: 1.9%;
    }
    
}
