.card img {
    height: 300px;
    width: auto;
}



.titleProduct{
    font-size: 26px;
}

.card{
    width: 533px;
}

.titleProduct{
    font-size: 22px;
}

.priceProduct{

    font-size: 17px;
    text-align: end;
    margin-right: 20%;
}

.stockProduct{
    font-size: 15px;
    font-style: italic;
}