.cardProducts img {
    height: 300px;
    width: auto;
    margin-top: 20px;
}



.titleProduct{
    font-size: 26px;
    text-align: center;
}

.cardProducts{
    display: flex;
    justify-content: space-evenly !important;
    width: 505px;
}

.cardItemsProd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    padding-bottom: 18px;
    margin-top: 3%;
}

.titleProduct{
    font-size: 22px;
}

.priceProduct {
    width: 100%;
    margin-right: 10%;
    text-align: end;
}

.stockProduct{
    font-size: 15px;
    font-style: italic;
    width: 100%;
}

.textStock{
    font-weight: 600;
    font-style: italic;
}


.link:hover {
    text-decoration: none;
}