
.cardCount{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.divButtons{
    display: flex;
    justify-content: center;
}


.titleItem{
    font-weight: bold;
    align-self: flex-start;
}

.titleStock{
    align-self: flex-start;
    margin-left: 2%;
}

.btnSend{
    width: 200px;
    padding: 10px;
    color: white;
    font-weight: 800;
    background-color: rgb(37, 235, 37);
    align-self: center;
}

.btnResta{
    border: none;
    background: transparent;
    color: rgb(37, 235, 37);
    font-weight: bold;
    font-size: 65px;
    width: 41.2px;
    margin-bottom: 4%;
    padding-right: 8%;
}

.btnSuma{
    border: none;
    color: rgb(37, 235, 37);
    font-weight: bold;
    font-size: 50px;
    background: transparent;
    margin-bottom: 1.7%;
    margin-left: 4%;
}

.btnResta:hover{
    color: rgb(35, 158, 35);
    cursor: pointer;
}

.btnSuma:hover{
    color: rgb(35, 158, 35);
    cursor: pointer;
}

.btnSend:hover{
    background-color: rgb(29, 134, 29);
    cursor: pointer;
}

.btnDetalle{
    width: 200px;
    padding: 10px;
    color: white;
    font-weight: 800;
    background-color: rgb(37, 235, 37);
    align-self: center;
    margin-top: 2%;
}

.btnDetalle:hover{
    background-color: rgb(29, 134, 29);
    cursor: pointer;
}