.product {
    display: flex;
    flex-wrap: wrap;
}

.card img {
    height: 300px;
    width: auto;
}



.titleProduct{
    font-size: 26px;
}

.card{
    width: 505px;
}

.titleProduct{
    font-size: 22px;
}

.priceProducto{

    font-size: 17px;
    text-align: end;
    margin-right: 20%;
}

.stockProduct{
    font-size: 15px;
    font-style: italic;
}

.textStock{
    font-weight: 600;
    font-style: italic;
}